@import "tailwindcss";

.noto_sans {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
}
.stix{
    font-family: "STIX Two Text", serif;
    font-style: normal;
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    color: white;
  }

*, *::before, *::after {
    box-sizing: inherit;
}

.grid-row-20{
    grid-template-rows: repeat(20, minmax(0, 1fr));
}

.row-start-17{
    grid-row-start: 17;
}